/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);

.profiles{
	display:flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;

	max-width: $profile-max-width;
	margin: 0 auto;

	&__header{
		@include responsive-font(4vw, 26px, 40px, 50px);
		font-family: $display-fonts;
		font-style: italic;
		color: white;
		text-align: center; 
		width: 100%;
	}
}

.profile{
	margin: 0 0 $grid-gap 0;
	background: $profile-background;
	box-sizing: border-box;
	color: white; 
	position: relative;
	width:100%;
	font-family: $serif-fonts;
	line-height: 1.5em;
	
	&__image{
		width: 100%;
		// position: sticky;
		margin: 0 0 #{$grid-gap / 2} 0;
		&.profile__image--blur{
			filter: blur(20px);
		}
	}

	&__text{
		margin: 0;
		text-align: center;
		padding: 0 $grid-gap;
		// z-index: 100;
	    // position: relative;
	    // text-shadow: 0 0 3px rgba(black, .9);
	}

	&__name{
		// @include serif-text(25px, 1.3em, normal)
		@include responsive-font(3vw, 18px, 30px, 30px);
		font-family: $display-fonts;
	    line-height: 1em;
		color: white;
		font-style: italic;
		margin: 0 0 #{$grid-gap / 2} 0
	}
	.social-networks{
		justify-content: center;
	}

	&__quote {
		p {
			font-style: italic;
		}
	}

	&__quote-icon{
		// TODO: Pulse animation
		cursor:pointer;
		background:transparent;
		border:none;
		opacity: .8;
		margin-right: $grid-gap / 2;
		float:left;
		margin: 0 #{$grid-gap / 2} 0 0;

		&:hover{
			opacity: 1;
		}
		svg{
			fill: white;
			width: 50px;
			height: 50px;
		}

		&.profile__quote-icon--active{
			opacity: 1;
			svg{fill: $trib-yellow1;}

		}

		p{
			// @include responsive-font(1.5vw, 18px, 30px, 30px);
			font-style: italic;
			font-weight: normal;
			padding: $grid-gap / 2;
			background: rgba(0,0,0,.5);
		}
	}
}



@media all and (min-width: $tablet-min-width){
	.profile--duo, .profile--quartet{
		// Makes them three-across
		width: calc((100% - #{$grid-gap}) / 2);
	}


	// -----------------------------------------
	// SHARED FEATURES BETWEEN SOLO AND VERTICAL
	// -----------------------------------------

	.profile.profile--solo, .profile.profile--vertical{
	
		.profile__name{
			@include responsive-font(5vw, 35px, 150px, 50px);
		}

		.profile__text{
			margin: 0 0 30vh $grid-gap;
			z-index: 100;
		    position: relative;
		    text-shadow: 0 0 3px rgba(black, .9);
	        max-width: 40%;
	        text-align: left;
		}

		.social-networks{
			justify-content: flex-start;
		}
	}

	// ------------------------------------------
	// STANDARD SCROLLY DESIGN FOR THE SOLO PHOTO
	// ------------------------------------------

	.profile.profile--solo{
		// The large, scrolly kind
		min-height: 200vh;
		padding: $grid-gap 0;
	    flex-basis: 100%;

		// .profile__name{
		// 	@include responsive-font(5vw, 35px, 150px, 50px);
		// }
		
		.profile__image{
			position: sticky;
			top: #{$navbar-overall-height};
			z-index: 2;
			margin: 0;

		}

		// .profile__text{
		// 	margin: 0 0 30vh $grid-gap;
		// 	z-index: 100;
		//     position: relative;
		//     text-shadow: 0 0 3px rgba(black, .9);
	 //        max-width: 40%;
	 //        text-align: left;
		// }
		
		// .social-networks{
		// 	justify-content: flex-start;
		// }
	
		// Only so photos will have quotes
		.profile__quote{
			margin: 0 0 50vh 0;
		    z-index: 1000;
		    position: relative;
			max-width: 60%;
			
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			&-icon{
				// TODO: Pulse animation
				float:none;

				svg{
					width: 75px;
					height: 75px;
				}
			}
		}
	}

	// ------------------------------
	// NEW DESIGN FOR VERTICAL PHOTOS
	// ------------------------------

	.profile--vertical.profile{
		// background: red;
		
		.profile__text{
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}

		.profile__image{
			transform: none;
			position: static;
			position: relative;
		}

		.profile__quote{
			transform: translate(0, -50%);
			max-width: none;
			padding: $grid-gap 0;
		}
	}
}


@media all and (min-width: $desktop-min-width){



.profile--trio{
	// Makes them three-across
    width: calc((100% - #{$grid-gap * 2}) / 3);

}



.profile--quartet{
	// Makes them three-across
	width: calc((100% - #{$grid-gap * 3}) / 4);
}

}