$stats_text: $trib_gray4;

.stats {
	background-color: $trib_gray1;
	padding: 20px;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	//border: 2px solid white;

	&__blurbs p {
		color: $stats_text;
	}

	&__hed {
		color: $stats_text;
		font-family: $display-fonts;
		font-size: 30px;
		font-style: italic;
		margin: 0 0 20px 0;
		text-align: center;
	}

	&__source {
		@include agate();
		color: $stats_text;
		margin-bottom: #{$grid-gap * 1.5};
	}

	&__inner{
		max-width: 650px;
		margin: 0 auto;
	}
}

.chart-wrapper {
	display: block;
	margin: 10px 0 10px 0;
}

.big-chart {
	margin: auto;
}

.chart {
	margin: 0 0 20px 0;
}

#g-origin-desktop {
	display: none;
}

@media all and (min-width: $tablet-min-width) {

	#g-origin-desktop {
		display: block;
	}

	#g-origin-mobile {
		display: none;
	}

	.graphic-wrapper {
		display: flex;
		align-items: center;
	}

	.graphic {
		margin: 0 20px 0 0;
	}
}
