$stats_text: $trib_gray4;

.stats {
	box-sizing:border-box;
	width: 100%;
	background-color: $trib_gray1;
	padding: $grid-gap; // We use this variable so all gaps and spacingss are regular
	margin: $grid-gap 0;
	border-radius: 20px;

	&__inner{
		// Keep text at readable widths
		max-width: 650px;
		margin: 0 auto;
	}

	&__blurbs p {
		color: $stats_text;
	}

	&__hed {
		color: $stats_text;
		font: 30px/1.3em #{$display-fonts};
		// font-family: $display-fonts;
		// font-size: 30px;
		font-style: italic;
		margin: 0 0 20px 0;
		text-align: center;
	}

	&__source {
		@include agate();
		color: $stats_text;
	}
}

.chart-wrapper {
	display: block;
	margin: 10px 0 10px 0;
}

@media all and (min-width: $tablet-min-width) {
	.chart-wrapper {
		display: flex;
		align-items: center;
	}

	.chart {
		margin-right: 20px;
	}
}
