// Enables Tribune colors, but is required for everything.
@import 'base-variables';

// Override defaults here

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// Breakpoints
// $tablet-min-width:450px;
// $desktop-min-width:850px;
$profile-background: black;
$navbar_background_color: lighten($profile-background, 10%);
$profile-max-width:1000px;
$social_icon_base_color: #333;

$social_colors: (
	twitter: #76A9EA,
	facebook: #475993,
	google: #DC4E41,
	email: white
);

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------


@import 'base';



// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'profile';


// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
// MOBILE/DEFAULT STYLES ARE HERE.

body{
	background:$profile-background;
}

.intro{
	// background: #111;
	padding: 0;
	color:white;
	position: relative;
	
	&__text{
		margin-top: $grid-gap;
	}

	&__video{
		width: 100%;
		display: block;
		position:absolute;
		top: 0;
		left:0;
		z-index: -1;
		margin-bottom: $grid-gap;
		max-height: calc(100vh - 50px);
		overflow: hidden;

		video{
			// width: 100%;
			// display:block;
			height: 100%;
			display: block;
			margin: 50vh 0 0 50vw;
			transform: translate(-50%, -50%);
		}

		&:after{
			// Tjis is the gradient mask
			content:"";
			display: block;
			height: 5vh;
			width: 100%;
			// background-image: linear-gradient(to top, black, transparent);
			transform: translate(0,-100%);
			opacity: .7;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	}

}

.headline-wrapper{
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	// position:relative;
	box-sizing:border-box;
	padding: 0 #{$grid-gap * 2};
	max-width: 500px;
}

.headline{
	color:white;
	font-weight: normal;
	font-style: italic;
	&__faces{
		width: 100%;
		font-size: 130px;
		// font-weight: normal;
		// font-style: italic;
	}
	&__of{
		font-size: 35px;
		transform: translate(0,-8px);
	}

	&__daca{
		font-size: 130px;
		text-transform: uppercase;
		line-height: .59em;
	}
}

.container--content{
	padding:0;
}


.trb_mainContent .credits {
	p{
		@include agate();
	}
}


@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
}