// Enables Tribune colors, but is required for everything.
@import 'base-variables';

// Override defaults here

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// Breakpoints
// $tablet-min-width:450px;
// $desktop-min-width:850px;
$profile-background: black;
$navbar_background_color: lighten($profile-background, 10%);

$social_icon_base_color: #333;

$social_colors: (
	twitter: #76A9EA,
	facebook: #475993,
	google: #DC4E41,
	email: white
);

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------


@import 'base';



// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'profile';


// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
// MOBILE/DEFAULT STYLES ARE HERE.

body{
	background:$profile-background;
}

.container--content{
	padding:0;
}


.trb_mainContent .credits {
	p{
		@include agate();
	}
}


@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
}