// TYPOGRAPHY
 @import url('https://fonts.googleapis.com/css?family=Merriweather:700,700i');

// Enables Tribune colors, but is required for everything.
@import 'base-variables';

// Override defaults here

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// Breakpoints
// $tablet-min-width:450px;
// $desktop-min-width:850px;
$profile-background: black;
$navbar_background_color: lighten($profile-background, 10%);
$profile-max-width:1000px;
$social_icon_base_color: rgba(white, .5);

$display-fonts: 'Merriweather', 'Georgia', serif;

$social-icon-width: 22px;
$social_colors: (
	twitter: #76A9EA,
	facebook: #475993,
	google: #DC4E41,
	email: white
);
$color-links: white;


$headline-max-width: 500px;
$keep-scrolling-icon-dimension: 30px;
$keep-scrolling-icon-padding: 10px;

// COMMENTS
$comments-button-color: #888;
$comments-button-text-color: #aaa;

// CALLS TO ACTION

$cta-background-color: #181818;
$cta-button-base-color: #888;


// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@keyframes bounce{
	from{
		transform:translate(0, #{$keep-scrolling-icon-dimension / -2})
	}

	to{
		transform:translate(0, 0)
	}
}


@import 'base';



// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'profile';
@import 'stats';


// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
// MOBILE/DEFAULT STYLES ARE HERE.

body{
	background:$profile-background;
}

.intro{
	// background: #111;
	// padding: 0;
	color:white;
	position: relative;
	z-index: 10; // To float intro over the back-to-top buttons
	text-shadow: 3px 3px 3px rgba(0,0,0,.5);
	&__text{
		margin-top: $grid-gap;
		padding: $grid-gap 0;
		box-sizing:border-box;
	}

	&__video{
		// Not using the video on mobile
		display:none;
	}

	&__video-texture{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black url(../img/video-texture.svg);
		background-size: 4px;
		opacity: .25;
	}

}

.headline-wrapper{
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	// position:relative;
	box-sizing:border-box;
	padding: 0 #{$grid-gap};
	// max-width: 500px;

	background: black url(../img/mobile-poster.jpg) center center;
	background-size: cover;

}

.headline{
	@include responsive-font(6vw, 35px, 80px, 50px);
	color:white;
	font-weight: normal;
	font-style: italic;
	font-family: $display-fonts;
	margin: 0 0 $grid-gap 0;
}

.video{
	// The main p2p video embed
	@include responsive_embed();
	margin: #{$grid-gap} 0;
	border: 1px solid #888;
	[data-player]{
		// This looks for a brightcove video 
		// player data attribute found in the 
		// outer wrapper of a video.
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.container--content{
	// padding:0;
}


.container--credits {
	p{
		@include agate();
		text-align: center;
	}
}



.keep-scrolling-icon{
	fill: white;
	width: 30px;
	height: 30px;
	
	border: 2px solid white;
	padding: $keep-scrolling-icon-padding;
	border-radius: 50%;
	
	// Makes it center
	display: block;
	margin: 0 auto;
	
	// Makes it bounce
	animation: 1s bounce ease-in infinite alternate;

	&--back{
		opacity: .7;
		animation: none;
		transform: rotate(180deg);
		width: 20px;
		height: 20px;
		cursor:pointer;

		z-index: 9; // To float intro over the back-to-top buttons
		position: fixed;
		bottom: 30px;
		right: 30px;
	}
}

.intro__video .keep-scrolling-icon{
	position: absolute;
	bottom: $keep-scrolling-icon-dimension;
	left: 50%;
	margin: 0 0 0 #{($keep-scrolling-icon-dimension + $keep-scrolling-icon-padding) / -2};

}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
	
	// ---------------------
	// ACTIVATE HEADER VIDEO
	// ---------------------

	.headline-wrapper{ 
		background: none; 
		max-width: $headline-max-width;
		padding: 0 #{$grid-gap * 2};
	}
	
	.intro{
		text-shadow: none;
	}

	.intro__video{

		width: 100%;
		display: block;
		position:absolute;
		top: 0;
		left:0;
		z-index: -1;
		margin-bottom: $grid-gap;
		max-height: calc(100vh - 50px);
		overflow: hidden;

		video{
			height: 100vh;
			display: block;
			margin: 50vh 0 0 50vw;
			transform: translate(-50%, -50%);
		}

		&:after{
			// This is the gradient mask
			content:"";
			display: block;
			height: 5vh;
			width: 100%;
			// background-image: linear-gradient(to top, black, transparent);
			transform: translate(0,-100%);
			opacity: .7;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	}
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
}