{% extends "_new-base.html" %}

{% macro cta(header="Help support great journalism", text=False, link="https://checkout.chicagotribune.com/subscriptionPanel/?presentation=MTRDigital&PID=6354&zipCode=00000&int=ct_digitaladshouse_4-weeks-99_acquisition-subscriber_ngux_text-link_editorial_______multimedia-all", link_text="Subscribe", align_right=False) %}
    <aside class='cta {% if align_right %}cta--right{% endif %}'>
        {% if header %}<p class='cta__header'>{{ header }}</p>{% endif %}
        {% if text %}<p class='cta__text'>{{ text }}</p>{% endif %}
        <a class='cta__button' href="{{ link }}" target="_blank">{{ link_text }}</a>
    </aside>
{% endmacro %}

{% macro keep_scrolling(direction="down") %}
    {% if direction == 'down' %}
        {% set add_class = "" %}
    {% else %}
        {% set add_class = "keep-scrolling-icon--back" %}
        <a href="#intro" title="Return to the top">
            <span class='sr-only'>Return to the top</span>
    {% endif %}
    <svg class='keep-scrolling-icon {{ add_class }}'>
        <use xlink:href="#arrow-down" />
    </svg>

    {% if direction != 'down' %}
        </a>
    {% endif %}
{% endmacro%}

{% block content %}
{# <div class="advert top-ad" data-ad-type="leaderboard"></div> #}
    <section id='intro' class='intro'>
        <div class='intro__video'>
            <video
                autoplay muted loop playsinline
                {# poster='img/poster.jpg' #}
                title="Chicago Tribune: {{ title }}">
                <source src="img/intro.webm" type="video/webm">
                <source src="img/intro.mp4" type="video/mp4">
            </video>
            <div class='intro__video-texture'></div>
            {{ keep_scrolling() }}
        </div>
        <div class='headline-wrapper'>
            
                <h1 itemprop="headline" class="headline">{{ headline|process_text }}</h1>
                <h2>{{ dek }}</h2>
                <div class='byline'>
                    <p itemprop="author creator">
                        By <a href="mailto:auribe@chicagotribune.com" target="_blank"><span itemtype="http://schema.org/Person" itemscope>Abel Uribe</span></a>, 
                        <a href="mailto:" target="_blank">
                        <span itemtype="http://schema.org/Person" itemscope>Nereida Moreno</span></a>, 

                        <a href="mailto:rzaldivar@chicagotribune.com" target="_blank">
                        <span itemtype="http://schema.org/Person" itemscope>Raquel Zaldivar</span></a>,
                        <a href="mailto:cyoder@chicagotribune.com" target="_blank">
                        <span itemtype="http://schema.org/Person" itemscope>Chad Yoder</span></a> and  
                        <a href="mailto:rymarx@chicagotribune.com" target="_blank">
                        <span itemtype="http://schema.org/Person" itemscope>Ryan Marx</span></a>
                    </p>
                    <meta itemprop="datePublished" datetime="{{ date_pub|xldate_to_datetime }}" content="{{ date_pub|xldate_to_datetime }}">
                    <time itemprop="dateModified" datetime="{{ date_mod }}"content="{{ date_mod|xldate_to_datetime }}">PUBLISHED: {{ date_mod|xldate_to_datetime|format_date_with_strftime("%B %-d, %Y") }}</time>
                </div>
            </div>
            <div class='container'>
                <div class='river intro__text'>
                    <div class="advert advert--right" data-ad-type="shrinky-cube"></div>
                    {{intro|markdown}}
                   {#  <div class="advert" data-ad-type="leaderboard">
                        <div style="display:inline-block;background: tan;height:50px;width:320px;"></div>
                    </div> #}
                    <div class="video">
                    <video
                        data-account="3690581440001"
                        data-player="S1vBkbMfe"
                        data-embed="default"
                        data-video-id="ref:95675321"
                        class="video-js"
                        controls></video>
                </div>
            </div>
            {{ keep_scrolling() }}
        </div>
    </section>

    {{ cta(cta_subscribe_text, False, cta_subscribe_button_link, cta_subscribe_button_text) }}

    <section class='profiles'>
        {{ keep_scrolling('back') }}
        <h3 class='profiles__header'>{{ profiles_header }}</h3>
        {% set advert_counter = 0 %}
        {% for profile in profiles|sort(False, attribute="display_order") if profile.display == 1 %}
        {% set p = profile %}
        {% include 'subtemplates/_profile.html' %}

        {% if profile.display_order == 230 %}
            {% include 'subtemplates/_stats.html' %}
        {% endif %}

            {# Spit out a banner ad about every 10 profiles or so. #}
            {% if advert_counter > 10 and p.display_type == "solo" %}
                <div class="advert" data-ad-type="leaderboard"></div>
                {% set advert_counter = 0 %}
            {% else %}
                {% set advert_counter = advert_counter + 1%}
            {% endif %}
       {% endfor %}
    </section>
    <section class='container container--credits'>
        <div class='river'>
            {% if note %}{{ note|markdown }}{% endif %}
            {% if sources %}{{ sources|markdown }}{% endif %}
            {% if credits %}{{ credits|markdown }}{% endif %}
        </div>
    </section>
    {{ cta(cta_subscribe_text, False, cta_subscribe_button_link, cta_subscribe_button_text) }}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="//players.brightcove.net/3690581440001/S1vBkbMfe_default/index.min.js"></script>
    <script src="//{{ ROOT_URL }}/js/app.min.js"></script>
{% endblock scripts %}

{% block library_scripts %}
    {{ super() }}
    <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock library_scripts %}


{% block preload %}
    <link rel="preload" href="img/video-texture.svg" as="image">
{% endblock preload %}

{% block comments %}{% endblock comments %}