{% extends "_base.html" %}

{% block content %}

<div class="advert top-ad" data-ad-type="leaderboard"></div>
    <section class='container container--intro'>
        <div class='river'>
            <h1 itemprop="headline">Welcome to Tarbell!</h1>
            <p>Brought to you by <span itemprop="author">the Chicago Tribune News Apps team</span></p>
            <p>Updated last <span itemprop="datePublished">July 15, 2014</span></p>
        </div>
    </section>
    <section class='container container--content'>
       {% for p in profiles if p.display == 1 %}
            {% set is_vertical = p.photos|is_vertical_photo %}    
            {% if is_vertical %}
                {% set add_class = "profile--vertical" %}    
            {% else %}
                {% set add_class = "" %}    
            {% endif %}
            <div class='profile {{ add_class }}'>
                <img class='profile__image' src="http://{{ ROOT_URL }}/img/people/{{ p.photos }}" />
                <div class='profile__text'>
                    <h2 class='profile__name'>{{ p.name }}</h2>
                    <p class='profile__age'>{{ p.age }}</p>
                    {% if p.full_transcript %}
                        <blockquote class='profile__quote'>
                            {{ p.full_transcript|markdown }}
                        </blockquote>
                    {% endif %}
                </div>
            </div>
       {% endfor %}
    </section>
    <section class='container container--credits'>
        <div class='river'>
            {% if note %}{{ note|markdown }}{% endif %}
            {% if sources %}{{ sources|markdown }}{% endif %}
            {% if credits %}{{ credits|markdown }}{% endif %}
        </div>
    </section>
            

        <div class="advert col-xs-12 col-sm-4" data-ad-type="shrinky-cube"></div>
    </div>
</div>
{% endblock content %}
