{% extends "_base.html" %}

{% macro quote(p) %}

    <blockquote class='profile__quote'>
        <button class='profile__quote-icon'>
            <svg class='profile__quote-icon'>
                <use xlink:href="#audio" />
            </svg>
        </button>
        {{ p.full_transcript|markdown }}
        <audio class='profile__quote-audio'>
          <source src="http://{{ ROOT_URL }}/img/people/DACA-audio-Zain-Sayed.mp3" type="audio/mp3">
          {# <source src="viper.ogg" type="audio/ogg"> #}
          <p>Your browser doesn't support HTML5 audio. Here is a <a href="DACA-audio-Zain-Sayed.mp3">link to the audio</a> instead.</p>
        </audio>
    </blockquote>

{% endmacro %}

{% block content %}

<div class="advert top-ad" data-ad-type="leaderboard"></div>
    <section class='container container--intro'>
        <div class='river'>
            <h1 itemprop="headline">Welcome to Tarbell!</h1>
            <p>Brought to you by <span itemprop="author">the Chicago Tribune News Apps team</span></p>
            <p>Updated last <span itemprop="datePublished">July 15, 2014</span></p>
        {{intro|markdown}}

        </div>
    </section>

    <section class='container container--content profiles'>
       {% for profile in profiles|sort(False, attribute="display_order") if profile.display == 1 %}

            {% set p = profile %}
            {% set is_vertical = p.photos|is_vertical_photo %}    
            {% if is_vertical %}
                {% set add_class = "profile--vertical" %}    
            {% else %}
                {% set add_class = "" %}    
            {% endif %}
            <div id="{{ p.id }}" class='profile profile--{{ p.display_type }} {{ add_class }}'>
                <img class='profile__image' src="http://{{ ROOT_URL }}/img/people/{{ p.photos }}" />
                <div class='profile__text'>
                    <h2 class='profile__name'>{{ p.name }}</h2>
                    <p class='profile__age'>Is a {{ p.age }}-year-old {{ p.current_occupation }}. They came to the United States from {{ p.country }} at {{ p.age_arrived }}.</p>
                    {% include 'subtemplates/_social-share.html' %}
                    {% if p.full_transcript and p.display_type != "solo" %}
                        <blockquote class='profile__quote'>
                            {{ p.full_transcript|markdown }}
                        </blockquote>
                    {% endif %}
                </div>
                {% if p.full_transcript and p.display_type == "solo" %}
                    {{ quote(p) }}
                {% endif %}
            </div>
       {% endfor %}
    </section>
    <section class='container container--credits'>
        <div class='river'>
            {% if note %}{{ note|markdown }}{% endif %}
            {% if sources %}{{ sources|markdown }}{% endif %}
            {% if credits %}{{ credits|markdown }}{% endif %}
        </div>
    </section>
            

        <div class="advert col-xs-12 col-sm-4" data-ad-type="shrinky-cube"></div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="//{{ ROOT_URL }}/js/app.min.js"></script>
{% endblock scripts %}
