.advert{
	margin:10px #{0 - $container_padding_h};
	&[data-ad-type="leaderboard"], &[data-ad-type="banner"]{
		
	}

	&[data-ad-type="shrinky-cube"]{
		// width: 300px;

		&.advert--right{
			// float:right;
			// margin: 0 0 25px 25px;
		}
	}
}



@media all and (min-width:769px){
	// This is the breakpoint when the mini banners become cubes.
	.advert{
		&[data-ad-type="leaderboard"], &[data-ad-type="banner"]{
			margin:#{$grid-gap} auto;
		}

		&[data-ad-type="shrinky-cube"]{
			width: 300px;

			&.advert--right{
				float:right;
				margin: 0 0 $grid-gap $grid-gap;
			}

			&.advert--left{
				float:left;
				margin: 0 $grid-gap $grid-gap 0;
			}
		}
	}
}