
{% macro quote(p) %}
    <blockquote class='profile__quote'>
            {% if p.audio == 1 %}
            <button class='profile__quote-icon'>
                <svg><use xlink:href="#audio" /></svg>
            </button>
            {% else %}
            <span class='profile__quote-icon'>
                <svg class='profile__quote-icon'>
                    <use xlink:href="#quote" />
                </svg>
            </span>
            {% endif %}
            {{ p.quote|markdown }}
            {% if p.audio == 1 %}
            <audio class='profile__quote-audio'>
                <source src="http://{{ ROOT_URL }}/audio/{{ p.id }}.mp3" type="audio/mp3">
                {# <source src="viper.ogg" type="audio/ogg"> #}
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="DACA-audio-Zain-Sayed.mp3">link to the audio</a> instead.</p>
            </audio>
            {% endif %}
    </blockquote>
{% endmacro %}

{% set is_vertical = p.id|is_vertical_photo %}    
{% if is_vertical %}
    {% set add_class = "vertical" %}    
{% else %}
    {% set add_class = p.display_type %}    
{% endif %}
<div id="{{ p.id }}" class='profile profile--{{ add_class }}'>
    <img class='profile__image profile__image--blur' src="http://{{ ROOT_URL }}/img/people/thumbs/{{ p.id }}.jpg" />
    <div class='profile__text'>
        {% include 'subtemplates/_social-share.html' %}
        <h4 class='profile__name'>{{ p.name_first }} {{ p.name_last }}</h4>
        <p class='profile__age'>is {{ p.age|get_age_article }} {{ p.age }}-year-old {{ p.current_occupation }}. {{ p.pronoun|capitalize }} came to the United States from {{ p.country }} at age {{ p.age_arrived }}.</p>
        {% if p.quote and p.display_type != "solo" %}
        
        {{ quote(p) }}{#     <blockquote class='profile__quote'>
                {{ p.quote|markdown }}
            </blockquote> #}
        {% endif %}
    </div>
    {% if p.quote and p.display_type == "solo" %}
        {{ quote(p) }}
    {% endif %}
</div>