<div class='stats'>
	<h4 class='stats__hed'>{{stats.hed.blurb}}</h4>
	<div class='stats__blurbs'>
		{{stats.a.blurb|markdown}}
		<div class='graphic-wrapper'>
			<div class='big-graphic'>
				{% include 'ai/ai2html-output/origin.html' %}
			</div>
		</div>
		{{stats.b.blurb|markdown}}
		<div class='graphic-wrapper'>
			{{stats.c.blurb|markdown}}
			<div class='graphic'>
				{% include 'ai/ai2html-output/us.html' %}
			</div>
		</div>
		{{stats.d.blurb|markdown}}
	</div>
	<p class='stats__source'>{{stats.source.blurb}}</p>
</div>